<h2>サークル一覧</h2>
<%= form_tag(clubs_path,:method => 'get') do %>
  <%= text_field_tag :search, params[:search] ,placeholder: "サークル名で検索" %>
  <%= submit_tag '検索', :name => nil ,class:'btn btn-primary btn-sm'%>
<% end %>


<% @clubs.each do |c|%>
  <div class="index-profile">
  <%= link_to "",club_path(c.id) %>
    <div class="index-avatar">
      <%= image_tag c.avatar.variant(gravity: :center, resize:"50x50^", crop:"50x50+0+0").processed if c.avatar.attached?%>
    </div>
    <div class="index-rightbox">
      <div class="index-name">
        <%= c.name %>
      </div>
      <div class="index-detail">
        <%= c.detail%>
      </div>   
    </div>
  </div>
<% end %>
