<div class="student profile">
  <h2>サークル詳細</h2>
  <div class="show-image">
    <% if @club.avatar.attached? %>
    <%= image_tag @club.avatar.variant(gravity: :center, resize:"300x300^", crop:"300x300+0+0").processed ,id: 'show-image' %>
    <% else %>
      <div class="no-show-image">
        <p>No image</p>
      </div>   
    <% end %>
  </div>
  <div class="student name"><%=  @club.name %></div>
  <div class="student detail"><%= @club.detail %></div>

  <div class="data">
    <ul>
      <li>
        <%= @count_events %>
        <span>イベント投稿数</span>
      </li>
      <li>
        <div id="count_clubs">
          <%= @count_clubs %>
        </div>
        <span><%= link_to 'お気に入り数（サークル）',student_likes_club_path %></span>
      </li>
      <li>
        1
        <span>お気に入り数（イベント）</span>
      </li>
    </ul>
  </div>

  <div class="ul-align-center">
    <ul class="student">
      <%if @club.active == "運動系"%>
      <li><i class="fas fa-running"></i>種類：<%= @club.active %></li>
      <% elsif @club.active == "文化系"%><li><i class="fas fa-pen"></i>種類：<%= @club.active %></li>
      <% end %>
      <%if @club.intercollege == "学内"%>
      <li><i class="fas fa-universal-access"></i><%= @club.intercollege %></li>
      <% elsif @club.intercollege == "インカレ"%><li><i class="fas fa-globe"></i><%= @club.intercollege %></li>
      <% end %>

      <li>
        <i class="fas fa-graduation-cap"></i>大学：<%= @club.category.name %>
      </li>
      <% if @club.home%>
      <li><i class="fas fa-home"></i></i>ホームページ:<%= text_url_to_link(h(@club.home)).html_safe %></li>
      <% end %>
      <% if @club.sns %>
      <li><i class="fas fa-users"></i>SNS:<%= text_url_to_link(h(@club.sns)).html_safe %></li>
      <% end %>

    </ul>
  </div>

  <div class="show-button">
    <div class="button1">
      <%= link_to 'サークル一覧',clubs_path, class: 'btn btn-primary'%>
    </div>
    <div class="button2">
      <% if club_signed_in? %>
      <% if current_club == @club%>
      <%= link_to 'サークル編集',edit_club_registration_path(@club), class: 'btn btn-success'%>
      <% end %>
      <% end %>
      <% if student_signed_in?%>
      <div id="club_favorite">
        <% if current_student.club_favorite?(@club) %>
        <%= render "unfavorite"%>
        <% else %>
        <%= render "favorite"%>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="calendar">
  <%= render(partial: 'layouts/calendar',locals: {events: @events})%>
</div>