<% @comments.each do |comment| %>
<div class="comment">
  <div class="comment-avatar">
    <% if comment.student.avatar.attached? %>
      <%= link_to student_path(comment.student.id) do %>
      <%= image_tag comment.student.avatar.variant(gravity: :center, resize:"64x64^", crop:"64x64+0+0").processed %>
    <% end %>
    <% else %>
      <div class="no-comment-image">
        <p>No image</p>
      </div>
    <% end %>
  </div>
  <div class="comment-body">
    <p>
      <%= link_to comment.student.name,student_path(comment.student.id),class: 'name'%>
      <span class='datetime'><%= time_ago_in_words(comment.created_at) %>前</span>
      <% if student_signed_in? %>
        <% if current_student==comment.student %>
          <%= link_to event_comment_path(@event,comment.id), method: :delete, class: 'trash',remote: true , data: { confirm: '【確認】コメントを削除してよろしいでしょうか?' } do%>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      <% end %>
    </p>
    <div class="comment-box">
      <p class='comment-content'>
        <%= comment.content %>
      </p>
    </div>


  </div>

</div>

<% end %>