<div class="container">
  <h2><%= t('.sign_up') %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= bootstrap_devise_error_messages! %>
  <div class="item_input__body__category" id="category_box">
    <div class="pulldown" id="partent_box">
      <%= f.label :category_id, '大学' %>
      <%= f.select :category_id, options_for_select( @category_parent_array.map{|c| [c[:name], c[:id]]}),{include_blank: "選択してください"}, { class: "parent_category_box", id: "parent_category"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :active, '文化系' %>
    <%= f.radio_button :active, :文化系 %>
    <%= f.label :active, '運動系'%>
    <%= f.radio_button :active, :運動系 %>
  </div>
  <div class="form-group">
    <%= f.label :name, '団体名(必須)' %>
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>

    <% if @minimum_password_length %>
    <small
      class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit t('.sign_up'), class: 'btn btn-primary btn-block' %>
  </div>
  <% end %>

  <%= render "clubs/shared/links" %>
</div>