<div class="container">
  <h2><%= @student.name %>のフォローワー</h2>


  <% @followers.each do |s|%>
  <div class="index-profile">
    <%= link_to "",student_path(s.id) %>
    <div class="index-avatar">
    <% if s.avatar.attached? %>
      <%= image_tag s.avatar.variant(gravity: :center, resize:"50x50^", crop:"50x50+0+0").processed %>
    <% else %>
      <div class="no-image">
      <p>No image</p>
      </div>
    <% end %>

    </div>
    <div class="index-rightbox">
      <div class="index-name">
        <%= s.name %>
      </div>
      <div class="index-detail">
        <%= s.detail%>
      </div>
    </div>
  </div>
  <% end %>
  <%= paginate @followers%>
</div>