<div class="container">
  <h2>生徒一覧</h2>
  <%= form_with url: students_path, method: :get do |f|%>
    <div class="form-check-inline">
      <%= f.radio_button :gender, :男,class: 'form-check-input' %>
      <i class="fas fa-male"></i>
      <%= f.label :gender, '男',class: 'form-check-label' %>
    </div>
    <div class="form-check-inline">
      <%= f.radio_button :gender, :女,class: 'form-check-input' %>
      <i class="fas fa-female"></i>
      <%= f.label :gender, '女',class: 'form-check-label'%>
    </div>
    <div class="form-group">
      <i class="fas fa-map-marker-alt"></i>
      <%= f.label :prefecture,'出身(都道府県)' %>
      <%= f.select :prefecture, Student.prefectures.keys,{}%>
    </div>
    <div class="listing-form-box">
      <div class="listing-product-detail__category"> 
          <i class="fas fa-graduation-cap"></i>
          <%= f.label '大学' %>
          <%= f.select :category, options_for_select( @category_parent_array.map{|c| [c[:name], c[:id]]}),{include_blank: "選択してください"}, {class: 'listing-select-wrapper__box--select ', id: 'parent_category'} %>
      </div>
    </div>
    <%= f.text_field :name,placeholder: "生徒名で検索" %>
    <%= f.submit '検索',class:'btn btn-primary btn-sm'%>
  <% end %>
  <div class="students">
    <%= render(partial:'students/students.html.erb', locals: {students: @students})%>
  </div>

  

</div>
