<div class="profile">

  <h2 class='text-center'><%= @student.name %>のプロフィール</h2>

  <div class="image">
    <%= image_tag @student.avatar.variant(gravity: :center, resize:"300x300", crop:"300x300+0+0") ,id: 'club_image'if @student.avatar.attached?%>
  </div>

  <div class="content">
  <div class="data">
  <ul>
  <li>
  2,934
  <span>Tweets</span>
  </li>
  <li id="count_followers">
  <%= @count_followers %>
  <span>Followers</span>
  </li>
  <li>
  <%= @count_followings %>
  <span>Following</span>
  </li>
  </ul>
  </div>

  </div>
  <ul>
    <li><%= @student.gender %></li>
    <li><%= @student.prefecture %></li>
    <li><%= @student.university %></li>
    <li><%= @student.department %></li>
    <li><%= @student.highschool %></li>
    <li><%= @student.hobby %></li>
    <li><%= @student.detail %></li>
  </ul>

  <div class="club-button">
    <div class="button1">
      <%= link_to '生徒一覧',students_index_path, class: 'btn btn-primary'%>
    </div>
    <% if student_signed_in? %>
      <% if current_student==@student %>
        <div class="button2">
          <%= link_to 'プロフィール編集', edit_student_registration_path, class: 'btn btn-success'%>
        </div>
      <% else %>
        <div id="follow_form">
          <% if current_student.following?(@student) %>
            <%= render 'unfollow'%>
          <% else %>
            <%= render 'follow'%>
          <% end %>
        </div>  
      <% end %>
    <% end %>
  </div>
</div>
