<h2><%= @student.name %>のプロフィール</h2>
<ul>
  <li><%= @student.university %></li>
  <li><%= @student.gender_i18n %></li>
  <li><%= @student.highschool %></li>
  <li><%= @student.hobby %></li>
  <li><%= @student.department %></li>
  <li><%= @student.detail %></li>
</ul>

