<h2 class='text-center'><%= @student.name %>のプロフィール</h2>

<div class="container">
<header>
<div class="bio">
        <img src="http://www.croop.cl/UI/twitter/images/up.jpg" alt="background" class="bg">
<div class="desc">
<h3>@carlf</h3>
<p><%= @student.detail %></p>
</div>
</div>

<div class="avatarcontainer">
<%= image_tag @student.avatar.variant(gravity: :center, resize:"80x80", crop:"80x80+0+0") ,class: 'avatar'if @student.avatar.attached?%>
<div class="hover">
<div class="icon-twitter"></div>
</div>
</div>


</header>

<div class="content">
<div class="data">
<ul>
<li>
2,934
<span>Tweets</span>
</li>
<li>
<%= @count_followers %>
<span>Followers</span>
</li>
<li>
<%= @count_followings %>
<span>Following</span>
</li>
</ul>
</div>

<div class="text-center">
  <% unless current_student == @student %>
    <div id="follow_form">
      <% if current_student.following?(@student) %>
        <%= render 'unfollow'%>
      <% else %>
        <%= render 'follow'%>
      <% end %>
    </div>
  <% end %>
</div>

</div>
<ul>
  <li><%= @student.gender_i18n %></li>
  <li><%= @student.prefecture %></li>
  <li><%= @student.university %></li>
  <li><%= @student.department %></li>
  <li><%= @student.highschool %></li>
  <li><%= @student.hobby %></li>
</ul>
</div>
<%= link_to '生徒一覧',students_index_path%>
