<div class="student profile">

  <h2 class='text-center'>プロフィール詳細</h2>

  <div class="club_image">
    <%= image_tag @student.avatar.variant(gravity: :center, resize:"300x300^", crop:"300x300+0+0").processed ,id: 'club_image'if @student.avatar.attached?%>
  </div>
  <div class="student name"><%= @student.name %></div>
  <div class="student detail"><%= @student.detail %></div>

  <div class="data">
    <ul>
      <li>
        <%= @count_club_likes %>
        <span>お気に入り(サークル)</span>
      </li>
      <li id="count_followers">
        <%= @count_followers %>
        <span><%= link_to 'フォローワー',followers_student_path %></span>
      </li>
      <li>
        <%= @count_followings %>
        <span><%= link_to 'フォロー',followings_student_path %></span>
      </li>
    </ul>
  </div>


  <div class="ul-align-center">
    <ul class="student">
      <%if @student.gender == "男"%>
      <li><i class="fas fa-male"></i>性別：<%= @student.gender %></li>
      <% elsif @student.gender == "女"%><li><i class="fas fa-female"></i>性別：<%= @student.gender %></li>
      <% end %>
      <li><i class="fas fa-map-marker-alt"></i>出身:<%= @student.prefecture %></li>
      <li>
        <i class="fas fa-graduation-cap"></i>大学：<%= @student.university %>
        <%= @student.department %>
      </li>
      <li><i class="fas fa-school"></i>出身高校:<%= @student.highschool %></li>
      <li><i class="fas fa-cog"></i>趣味:<%= @student.hobby %></li>

    </ul>
  </div>

  <div class="club-button">
    <div class="button1">
      <%= link_to '生徒一覧',students_path, class: 'btn btn-primary'%>
    </div>
    <% if student_signed_in? %>
    <% if current_student==@student %>
    <div class="button2">
      <%= link_to 'プロフィール編集', edit_student_registration_path, class: 'btn btn-success'%>
    </div>
    <% else %>
    <div id="follow_form">
      <% if current_student.following?(@student) %>
      <%= render 'unfollow'%>
      <% else %>
      <%= render 'follow'%>
      <% end %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<%= month_calendar events: @events do |date, event| %>
<%= date.day %>
<% event.each do |e| %>
<% if @event_likes.include?(e) %>
<div class="event-likes-box">
  <%= link_to e.title, e,class: "calendar-event" %>
</div>
<% else %>
<div class="club-likes-box">
  <%= link_to e.title, e,class: "calendar-event" %>
</div>
<% end %>
<% end %>

<% end %>