<h2 class="text-center">イベント一覧</h2>
<%= form_tag(events_path,:method => 'get') do %>
  <%= text_field_tag :search, params[:search] ,placeholder: "イベント名で検索" %>
  <%= submit_tag '検索', :name => nil ,class:'btn btn-primary btn-sm'%>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <td>日付</td>
      <td>題名</td>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |e|%>
      <tr>
        <td><%= link_to e.created_at ,event_path(e.id) %></td>
        <td><%= e.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
