<div class="event-index">
  <h2 class='text-center'>イベント一覧</h2>
  <div class="event-search-box">
    <%= form_with(url: events_path,method: :get)  do |f| %>
    <%= f.datetime_field :start %>
    <div id='span'>〜</div>
    <%= f.datetime_field :end %>
    <div class="event-search">
      <%= f.text_field :title,placeholder: "キーワード検索" %>
      <%= f.submit '検索', :name => nil ,class:'btn btn-primary btn-sm'%>
    </div>
    <% end %>
  </div>


  <div id="tagbox">
    <div class='tag'id="tagbox_title">
      タグ一覧
    </div>
    <div id="tag_list">
      <% @tag_lists.each do |t| %>
      <%= link_to t.name, events_path(tag_id: t.id), class: "tag btn btn-primary btn-sm" ,remote: true %>
      <% end %>
    </div>
  </div>
  <div class="events">
    <%= render 'events' %>
  </div>
</div>