<div class="container">
  <div class="event">
    <div class="top-box">
      <div class="left-box">
        <h2><%= @event.title %></h2>
        <p>主催サークル<%= link_to @event.club.name,club_path(@event.club.id) %></p>
        <% time = (@event.end-@event.start).to_i %>
        <div class="event-content">
          <%= @event.content %>
        </div>
      </div>
      <div class="right-box">
        <p><i
            class="fas fa-calendar-alt"></i><%= @event.start.strftime('%m月%d日 %H時%M分') %>~<%= @event.end.strftime('%m月%d日 %H時%M分') %>(<%=time/3600 %>時間)
        </p>
        <div id="map"></div>
      </div>
    </div>
    <div class="event_favorite_box">

      <% if student_signed_in?%>
      <div id="event_favorite">
        <% if current_student.event_favorite?(@event) %>
        <%= render "unfavorite"%>
        <% else %>
        <%= render "favorite"%>
        <% end %>
      </div>
      <% end %>
      <p id="event_count"><i class="fas fa-heart"></i><%= @count_like_events %></p>
    </div>
    <div class="btn-block">
      <%= link_to "https://twitter.com/share?url=#{request.url}&text=イベント名:#{@event.title}%0a新入生は参加しましょう！&hashtags=みんなの新歓", class: 'btn btn-default', target: '_blank' do %>
      <i class="fab fa-twitter" style='color: #3399FF;'></i>
      Twitterでシェア
      <% end %>

      <% if club_signed_in? %>
      <% if current_club==@event.club%>
      <%= link_to "イベント修正", edit_event_path(@event),class: "btn btn-success" %>
      <% end %>
      <% end %>
      <%= link_to "イベント一覧",events_path,class: "btn btn-primary"%>
      <%= link_to "サークル詳細",club_path(@event.club.id),class: "btn btn-warning"%>
    </div>
  </div>



  <% if student_signed_in? %>
  <%= form_with(model: [@event,@comment], remote: true) do |f| %>
  <div class="comment">
    <div class="comment-avatar">
      <% if current_student.avatar.attached? %>
        <%= image_tag current_student.avatar.variant(gravity: :center, resize:"64x64^", crop:"64x64+0+0").processed %>
      <% else %>
        <div class="no-comment-image">
          <p>No image</p>
        </div>
      <% end %>
    </div>
    <div class="comment-body">
      <%= f.text_field :content, class: 'form-control',placeholder: 'コメントを入力' %>
      <%= f.submit 'コメントする',class:'btn btn-danger btn-sm' %>
    </div>
  </div>
  <% end %>
  <% end %>
  <p id='comment-count'><%= @count_comments %>件のコメント</p>
  <div id="comments">
    <%= render "comments/comments"%>
  </div>
  

  <script type="text/javascript">
    function initMap() {

      var test = {
        lat: <%= @event.latitude %> ,
        lng: <%= @event.longitude %>
      };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: test
      });
      var transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      var contentString = '住所：<%= @event.address %>';
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      var marker = new google.maps.Marker({
        position: test,
        map: map,
        title: contentString
      });

      marker.addListener('click', function () {
        infowindow.open(map, marker);
      });
    }
  </script>


  <script async defer
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%=ENV["GOOGLE_MAP_API"]%>&callback=initMap">
  </script>

  <style type="text/css">
    #map {
      height: 400px;
      width: 100%;
      margin: 20px 0;

      border: solid, 5px, black;
    }
  </style>
</div>