<h2>学生プロフィール編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= bootstrap_devise_error_messages! %>

<div class="form-group">
  <%= f.label :name, 'ニックネーム(必須)' %>
  <%= f.text_field :name, class: 'form-control', required: true %>
</div>
<div class="form-group">
  <%= f.label :gender, '男' %>
  <%= f.radio_button :gender, :男 %>
  <%= f.label :gender, '女'%>
  <%= f.radio_button :gender, :女 %>
  <%= f.label :gender, '未選択' %>
  <%= f.radio_button :gender, :未選択 %>
</div>
<div class="form-group">
  <%= f.label :prefecture,'出身(都道府県)' %>
  <%= f.select :prefecture, Student.prefectures.keys,{},class: 'form-control' %>
</div>

<%= f.file_field :avatar, accept: "image/jpg,image/jpeg,image/gif,image/png" %>

<div class="form-group">
  <%= f.label :university, '大学(必須)' %>
  <%= f.text_field :university, class: 'form-control', required: true %>
</div>
<div class="form-group">
  <%= f.label :department, '学部(必須)' %>
  <%= f.text_field :department, class: 'form-control', required: true %>
</div>
<div class="form-group">
  <%= f.label :highschool, '出身高校' %>
  <%= f.text_field :highschool, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :hobby, '趣味' %>
  <%= f.text_field :hobby, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :detail, '自己紹介' %>
  <%= f.text_area :detail, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.submit t('.update'), class: 'btn btn-primary btn-block' %>
</div>
<% end %>

<hr class="devise-link my-5">
<div class="form-group">
  <%= link_to "トップページ", root_path, class: 'btn btn-info btn-block mb-4' %>
  <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: {confirm: t('.are_you_sure')}, method: :delete, class: 'btn btn-danger btn-block' %>
</div>